# Tuple

## Tuples Are Like Lists
Tuples are another kind of sequence that functions much like a list - they have elements which are indexed starting at 0

In [1]:
x = ('Glenn', 'Sally', 'Joseph')
print(x[2])
y = ( 1, 9, 2 )
print(y)
print(max(y))

Joseph
(1, 9, 2)
9

## but... Tuples are “immutable”
Unlike a list, once you create a tuple, you cannot alter its contents - similar to a string

In [3]:
# List is mutable
x = [9, 8, 7]
print(x)
x[2] = 6
print(x)

[9, 8, 7]
[9, 8, 6]

In [4]:
# string is also immutable
y = 'ABC'
print(y)
y[2] = 'D'

ABC

TypeError: 'str' object does not support item assignment

In [4]:
# tuple is immutable
z = (5, 4, 3)
print(z)
z[2] = 0

(5, 4, 3)

TypeError: 'tuple' object does not support item assignment

## Things not to do With Tuples

In [5]:
x = (3, 2, 1)
x.reverse()
x

AttributeError: 'tuple' object has no attribute 'reverse'

In [6]:
x.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
x = [5, 7, 6]
x.reverse()
x

[6, 7, 5]

In [6]:
t = tuple()
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [9]:
## Operations in tuple
l = list()
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Tuples and Assignment
We can also put a tuple on the left-hand side of an assignment statement
We can even omit the parentheses

In [9]:
(x, y) = (10, 52)

In [11]:
y

52

In [12]:
(x, y) = (4, 'fred')
print(y)
(a, b) = (99, 98)
print(a)

fred
99

## Tuples and Dictionaries
The items() method in dictionaries returns a list of (key, value) tuples

In [18]:
d = dict()
d['csev'] = 2
d['cwen'] = 4
for (k,v) in d.items(): 
     print(v, k)

2 csev
4 cwen

In [17]:
for i in d.items():
    print(i)

('csev', 2)
('cwen', 4)

In [14]:
d

{'csev': 2, 'cwen': 4}

In [15]:
tups = d.items()
print(tups)

dict_items([('csev', 2), ('cwen', 4)])

## Tuples are Comparable
The comparison operators work with tuples and other sequences. If the first item is equal, Python goes on to the next element,  and so on, until it finds elements that differ.

In [22]:
print((0, 1, 2) < (5, 1, 2))
print((0, 1, 2000000) < (0, 1, 4))
print(( 'Jones', 'Sally' ) < ('Jones', 'Sam'))
print(( 'Jones', 'Sally') > ('Adams', 'Sam'))

True
False
True
True

In [11]:
print(('a')>('A'))

True

## Sorting Lists of Tuples
We can take advantage of the ability to sort a list of tuples to get a sorted version of a dictionary
First we sort the dictionary by the key using the items() method and sorted() function

In [6]:
d = {'c':10, 'b':1, 'a':22}
d.items()
sorted(d.items())

[('a', 22), ('b', 1), ('c', 10)]

In [8]:
val = sorted(d.items(), key = lambda x: x[1], reverse = True)
print(val)

[('a', 22), ('c', 10), ('b', 1)]

In [10]:
a = lambda x: x**2
a(2)

4

In [11]:
b = lambda x,y : (x*y)
b(5,10)

50

## Using sorted()
We can do this even more directly using the built-in function sorted that takes a sequence as a parameter and returns a sorted sequence

In [1]:
d = {'a':10, 'b':1, 'c':22}
t = sorted(d.items())
print(t)
for k, v in sorted(d.items()):
    print(k, v)

[('a', 10), ('b', 1), ('c', 22)]
a 10
b 1
c 22

## Sort by Values Instead of Key
If we could construct a list of tuples of the form (value, key) we could sort by value
We do this with a for loop that creates a list of tuples

In [13]:
c = {'a':10, 'b':1, 'c':22}
tmp = list()
for k, v in c.items():
    tmp.append((v, k))
sort_ = sorted(tmp, reverse=True)    
print(tmp)
print(sort_)

[(10, 'a'), (1, 'b'), (22, 'c')]
[(22, 'c'), (10, 'a'), (1, 'b')]

In [3]:
fhand_ ="But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair sun and kill the envious moon Who is already sick and pale with grief"
fhand =fhand_.split() 
counts = {}
for word in fhand:
    if word not in counts:
        counts[word] = 1
    counts[word] += 1

{2: 'grief', 4: 'and', 3: 'sun'}

In [2]:
counts.items()

dict_items([('But', 2), ('soft', 2), ('what', 2), ('light', 2), ('through', 2), ('yonder', 2), ('window', 2), ('breaks', 2), ('It', 2), ('is', 4), ('the', 4), ('east', 2), ('and', 4), ('Juliet', 2), ('sun', 3), ('Arise', 2), ('fair', 2), ('kill', 2), ('envious', 2), ('moon', 2), ('Who', 2), ('already', 2), ('sick', 2), ('pale', 2), ('with', 2), ('grief', 2)])

## The top 10 most common words

In [ ]:
# for line in fhand:
#     words = line.split()
#     for word in words:
#         counts[word] = counts.get(word, 0 ) + 1
for word in fhand:
    counts[word] = counts.get(word, 0 ) + 1
lst = []
for key, val in counts.items():
    newtup = (val, key) 
    lst.append(newtup)

lst = sorted(lst, reverse=True)

for val, key in lst[:10] :
    print(key, val)

## Even Shorter Version
List comprehension creates a dynamic list.  In this case, we make a list of reversed tuples and then sort it.

In [14]:
c = {'a':10, 'b':1, 'c':22}
print( sorted( [(v,k) for k,v in c.items()]))

[(1, 'b'), (10, 'a'), (22, 'c')]

In [6]:
c = {'a':10, 'b':1, 'c':22}
[(v,k) for k,v in c.items() if v > 5]

[(10, 'a'), (22, 'c')]

In [32]:
orders = {
    'cappuccino': 54,
    'latte': 56,
    'espresso': 72,
    'americano': 48,
    'cortado': 41
}

sort_orders = sorted(orders.items(), key=lambda x: x[0], reverse=False)

for i in sort_orders:
    print(i)
    #print(i[0], i[1])

('americano', 48)
('cappuccino', 54)
('cortado', 41)
('espresso', 72)
('latte', 56)

In [19]:
fhand_ ="But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair sun and kill the envious moon Who is already sick and pale with grief"
dic = {}
for word in fhand_.split():
    if word not in dic:
        dic[word]=1
    else:
        dic[word]+=1
lis=[]
for key,val in dic.items():
    lis.append((val,key))
value = sorted(lis,reverse = True)
for val,key in value[:10]:
    print(key,val)

the 3
is 3
and 3
sun 2
yonder 1
with 1
window 1
what 1
through 1
soft 1

In [20]:
dic

{'But': 1,
 'soft': 1,
 'what': 1,
 'light': 1,
 'through': 1,
 'yonder': 1,
 'window': 1,
 'breaks': 1,
 'It': 1,
 'is': 3,
 'the': 3,
 'east': 1,
 'and': 3,
 'Juliet': 1,
 'sun': 2,
 'Arise': 1,
 'fair': 1,
 'kill': 1,
 'envious': 1,
 'moon': 1,
 'Who': 1,
 'already': 1,
 'sick': 1,
 'pale': 1,
 'with': 1,
 'grief': 1}

In [22]:
sort_orders = sorted(dic.items(), key=lambda x: x[0], reverse=True)
sort_orders

[('yonder', 1),
 ('with', 1),
 ('window', 1),
 ('what', 1),
 ('through', 1),
 ('the', 3),
 ('sun', 2),
 ('soft', 1),
 ('sick', 1),
 ('pale', 1),
 ('moon', 1),
 ('light', 1),
 ('kill', 1),
 ('is', 3),
 ('grief', 1),
 ('fair', 1),
 ('envious', 1),
 ('east', 1),
 ('breaks', 1),
 ('and', 3),
 ('already', 1),
 ('Who', 1),
 ('Juliet', 1),
 ('It', 1),
 ('But', 1),
 ('Arise', 1)]

In [23]:
d ={key:val for key,val in sort_orders if val==3}
d

{'is': 3, 'the': 3, 'and': 3}

In [ ]:
fhand_ ="But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair sun and kill the envious moon Who is already sick and pale with grief"
dic = {}

In [2]:
x = ('Glenn', 'Sally', 'Joseph')
print(x[2])
y = ( 1, 9, 2 )
print(y)
print(max(y))

Joseph
(1, 9, 2)
9

In [5]:
tup1=(1,2,3)
tup2=(4,5,6)

In [6]:
tup1 + tup2

(1, 2, 3, 4, 5, 6)

In [11]:
tup1*5 + tup2

('sparta',
 300,
 'sparta',
 300,
 'sparta',
 300,
 'sparta',
 300,
 'sparta',
 300,
 4,
 5,
 6)

In [12]:
tup1 = (10,20,30,40,)

In [15]:
min(tup1)

10

In [16]:
max(tup1)

40

In [17]:
li = [1, 'sparta',3.14,True]

In [19]:
li

[1, 'sparta', 3.14, True]

In [20]:
type(li)

list

In [21]:
li[0]

1

In [22]:
li[-1]

True

In [24]:
li[1:3]

['sparta', 3.14]

In [25]:
li

[1, 'sparta', 3.14, True]

In [27]:
li[0] = 100
li

[100, 'sparta', 3.14, True]

In [28]:
li.append(-87.99)

In [29]:
li

[100, 'sparta', 3.14, True, -87.99]

In [30]:
li.pop()

-87.99

In [31]:
li

[100, 'sparta', 3.14, True]

In [34]:
li.reverse()
li

[100, 'sparta', 3.14, True]

In [33]:
li

[True, 3.14, 'sparta', 100]

In [35]:
li = ['432',22,90,True,False]

In [36]:
li

['432', 22, 90, True, False]

In [40]:
li.reverse()

In [41]:
li

[False, True, 90, 22, '432']

In [42]:
li.insert(3,'hello')

In [43]:
li

[False, True, 90, 'hello', 22, '432']

In [47]:
li =['a','f','d','v']

In [48]:
li.sort()

SyntaxError: invalid syntax (<ipython-input-48-66ff3d7e8e0c>, line 1)

In [49]:
li

['a', 'f', 'd', 'v']

In [50]:
li.sort()

In [51]:
li

['a', 'd', 'f', 'v']

In [52]:
l2 = ["apple","banana","mango"]

In [53]:
li + l2

['a', 'd', 'f', 'v', 'apple', 'banana', 'mango']

In [55]:
l2 * 5 + li

['apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 'apple',
 'banana',
 'mango',
 'a',
 'd',
 'f',
 'v']